.header {
    background-color: $bg_section;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    height: 14.5rem;

    @media (min-width:$tablet) and (max-width:$desktop) {
        max-width: $max_width_tablet;
        height: 11.7rem;
        margin-bottom: 0;

    }

    @media (max-width:$mobile_transition) {
        height: 9.6rem;
        align-items: center;
    }
}

.navigation__logo {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    letter-spacing: 1px;
    @media (min-width:$tablet) and (max-width:$desktop) {
padding-bottom: 0;

    }
}

.logo__paragraf {
    font-size: 1.6rem;
    color: #000000;

}

.navigation__list {
    display: flex;
    padding: 0;
    align-items: center;
    width: 50%;
    max-width: 49.5rem;
    justify-content: space-between;

    @media (min-width:$tablet) and (max-width:$desktop) {
        max-width: 52.2rem;
        width: 74%;
    }

    @media (max-width:$mobile_transition) {
        display: none;
    }

    li {
        letter-spacing: 1px;
        font-family: var(--$first_font);
    }
}

.navigation__item {
    color: $links_nav;
    font-size: 1.6rem;
    //line-height: 5rem;
    padding-left: 4.2rem;
}

.navigation__item:hover,
.navigation__item_active {
    color: $select_text;

}

.navigation__item:active {
    color: $content_text;
    transition: $main_animation;
}

.welcome__main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10.86rem;

    @media (min-width:$tablet) and (max-width:$desktop) {
        flex-direction: row-reverse;
    }


}

.welcome__main_img {
    max-width: 44.88rem;
    height: 41rem;
    margin-top: -5rem;

    @media (min-width:$tablet) and (max-width:$desktop) {
        width: 28rem;
        height: 25.4rem;
        padding-top: 4rem;
    }

    @media (max-width:$mobile_transition) {
        display: none;
    }
}


.welcome__main_block {
    max-width: 54.8rem;
    height: 35.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width:$tablet) and (max-width:$desktop) {
        width: 34.6rem;
        height: 31rem;
    }

    @media (max-width:$mobile_transition) {
        height: 25.2rem;
        width: 33rem;
        padding-top: 0;
    }
}

.welcome__paragraf {
    font-size: 2rem;
    line-height: 3.4rem;
    max-width: 53.5rem;
    margin-top: -12px;

    @media (min-width:$tablet) and (max-width:$desktop) {
        font-size: 1.6rem;
        line-height: 2.5rem;
        margin: 0;
    }

    @media (max-width:$mobile_transition) {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
}

.welcome__header {

    color: $content_text;
    font-size: 4.5rem;
    line-height: 5rem;
    font-family: $second_font;
    font-weight: 700;

    @media (min-width:$tablet) and (max-width:$desktop) {
        font-size: 3.5rem;
        margin: 0;
    }

    @media (max-width:$mobile_transition) {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    span {
        color: $headers_text;
    }
}

.welcome__button {

    font-size: 1.6rem;
    line-height: 2rem;
    border: 2px solid $select_text;
    border-radius: 1rem;
    width: 15.86rem;
    height: 4.4rem;
    background-color: $bg_section;
    transition-property: all;

    @media (max-width:$mobile_transition) {
        font-size: 1rem;
        width: 10rem;
        height: 3.4rem;
    }
}