.service {
    background-color: $bg_section;

}

.service__container {
    display: flex;
    padding-top: 4.3rem;

}

.service__header {
    color: $headers_text;
    font-size: 4rem;
    max-width: 30.6rem;
    line-height: 5.2rem;
    font-weight: 400;
    font-family: $first_font;
    margin-right: 14rem;
}

.service__wrapper_buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3.8rem;
    align-items: center;

}

.service__button {
    background-color: $bg_section;
    font-family: $first_font;
    border: 1px solid $select_text;
    border-radius: .5rem;
    width: 16.1rem;
    height: 5rem;
    padding-top: .5re m;
    font-size: 2rem;
    color: $select_text;
}

.contacts {
    background-color: $bg_section;
}

.about__main {
    display: flex;
    align-items: center;
    height: 47.9rem;
    margin-top: 8.2rem;
    margin-bottom: 10.5rem;
}

.about__main_block {
    margin-right: 15.3rem;
    padding-left: -2rem;
}

.about__main_img {
    height: 100%;
    max-width: 46.4rem;
}

.about__main_header {
    font-family: $first_font;
    font-size: 4rem;
    color: $headers_text;
    font-weight: 400;
    margin-bottom: 4rem;

    span {
        color: $select_text;
    }
}

.about__main_paragraf {
    font-size: 2rem;
    line-height: 3rem;
}

.cards__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 11.6rem;
    grid-row-gap: 5.5rem;
    padding-top: 8.9rem;
}

.card {
    width: 33rem;
    height: 45rem;

}

.card__img {
    width: 100%;
}

.card__caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2px;
    border: #E3E1D5 1px solid;
    border-radius: 0px 0px 2rem 2rem;
}

.caption__header {
    font-family: $second_font;
    color: $select_text;
    font-size: 2rem;
    margin-top: .8rem;
    margin-right: .8rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.caption__paragraf {
    font-size: 1.6rem;
    margin-bottom: 3.6rem;
    font-weight: 400;
}


.prices__wrapper {
    display: flex;
    justify-content: space-between;
}

.prices__header {
    font-size: 4rem;
    font-family: $second_font;
    font-weight: 700;
    max-width: 45.2rem;

    span {
        color: $headers_text;
    }
}
.prices__second{
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.button__noBg{
    background-color: white;
}
.prices__img{
    width: 28.4rem;
}
.contacts__header{
    font-weight: 700;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
}
.footer__first{
    display: flex;
    justify-content: space-between;
width: 18.2rem;
}
.footer__paragraf{
    font-family: $second_font;
    color:black;
    font-size:2rem ;
}
.footer__social{
    width: 18.8rem;
    display: flex;
    justify-content: space-between;
}