/* colors */
$links_nav:#010201;
$bg_section:#EDF2EC;
$main_text:#B1AEAD;
$paragraf_text:#636060;
$content_text:#717171;
$select_text:#E06733;
$headers_text:#499A18;







$main_animation:all 0.3s ease-in;
$max_width:1222px;

/*font-family*/
$first_font:'Inika', serif; 
$second_font:'Inter', sans-serif;
