/* colors */
$links_nav:#010201;
$bg_section:#EDF2EC;
$main_text:#B1AEAD;
$paragraf_text:#636060;
$content_text:#717171;
$select_text:#E06733;
$headers_text:#499A18;




/*sizes*/
$mobile:380px;
$tablet:768px;
$mobile_transition:767px;
$desktop:1439px;


$main_animation:all 0.3s ease-in;
$max_width:1231px;
$max_width_tablet:668px;
$max_width_mobile:330px;

/*font-family*/
$first_font:'Inika', serif; 
$second_font:'Inter', sans-serif;
