@import 'variables';
@import 'header';
@import 'main';
@import 'footer';





* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


html {
    font-size: 10px;
    box-sizing: border-box;
}

a,li,button {
    text-decoration: none;
    transition: $main_animation;
}

a,
li,
button:hover {
    cursor: pointer;
    transition: $main_animation;
}

ul {
    list-style-type: none;
    margin: 0;
}

.container {
    max-width: $max_width;
    width: 84%;
    margin: 0 auto;
}

button{
    font-family: $second_font;
}

.header,
section {
    width: 100%;
}

.paragraf {
    color: $content_text;
    font-family: $second_font;
    font-weight: 400;
}

.button__animation:hover{
    color: white;
    background-color: $select_text;
}