/* colors */
/*sizes*/
/*font-family*/
.header {
  background-color: #EDF2EC;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
  height: 14.5rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .navigation {
    max-width: 668px;
    height: 11.7rem;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .navigation {
    height: 9.6rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
  letter-spacing: 1px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .navigation__logo {
    padding-bottom: 0;
  }
}

.logo__paragraf {
  font-size: 1.6rem;
  color: #000000;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  max-width: 49.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .navigation__list {
    max-width: 52.2rem;
    width: 74%;
  }
}

@media (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}

.navigation__list li {
  letter-spacing: 1px;
  font-family: var(--"Inika", serif);
}

.navigation__item {
  color: #010201;
  font-size: 1.6rem;
  padding-left: 4.2rem;
}

.navigation__item:hover,
.navigation__item_active {
  color: #E06733;
}

.navigation__item:active {
  color: #717171;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.welcome__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10.86rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .welcome__main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.welcome__main_img {
  max-width: 44.88rem;
  height: 41rem;
  margin-top: -5rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .welcome__main_img {
    width: 28rem;
    height: 25.4rem;
    padding-top: 4rem;
  }
}

@media (max-width: 767px) {
  .welcome__main_img {
    display: none;
  }
}

.welcome__main_block {
  max-width: 54.8rem;
  height: 35.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .welcome__main_block {
    width: 34.6rem;
    height: 31rem;
  }
}

@media (max-width: 767px) {
  .welcome__main_block {
    height: 25.2rem;
    width: 33rem;
    padding-top: 0;
  }
}

.welcome__paragraf {
  font-size: 2rem;
  line-height: 3.4rem;
  max-width: 53.5rem;
  margin-top: -12px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .welcome__paragraf {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .welcome__paragraf {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

.welcome__header {
  color: #717171;
  font-size: 4.5rem;
  line-height: 5rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .welcome__header {
    font-size: 3.5rem;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .welcome__header {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

.welcome__header span {
  color: #499A18;
}

.welcome__button {
  font-size: 1.6rem;
  line-height: 2rem;
  border: 2px solid #E06733;
  border-radius: 1rem;
  width: 15.86rem;
  height: 4.4rem;
  background-color: #EDF2EC;
  -webkit-transition-property: all;
  transition-property: all;
}

@media (max-width: 767px) {
  .welcome__button {
    font-size: 1rem;
    width: 10rem;
    height: 3.4rem;
  }
}

.service {
  background-color: #EDF2EC;
  margin-top: -16px;
}

.service .container {
  max-width: 1197px;
}

.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.7rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .service__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4rem;
  }
}

@media (max-width: 767px) {
  .service__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 3rem;
  }
}

.service__header {
  color: #499A18;
  font-size: 4rem;
  max-width: 30.6rem;
  line-height: 5.2rem;
  font-weight: 400;
  font-family: "Inika", serif;
  margin-left: -6px;
}

@media (max-width: 767px) {
  .service__header {
    font-size: 2.5rem;
    line-height: 3.3rem;
    margin-right: 0;
    width: 19rem;
    margin-bottom: 3.5rem;
  }
}

.service__wrapper_buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 14rem;
}

@media (max-width: 767px) {
  .service__wrapper_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 28.2rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.service__button {
  background-color: #EDF2EC;
  font-family: "Inika", serif;
  border: 1px solid #E06733;
  border-radius: .5rem;
  width: 16.1rem;
  height: 5rem;
  font-size: 2rem;
  color: #E06733;
}

@media (max-width: 767px) {
  .service__button {
    width: 12.1rem;
    height: 3.5rem;
    font-size: 1.5rem;
  }
}

.prices__button {
  background-color: #EDF2EC;
  font-family: "Inika", serif;
  border: 1px solid #E06733;
  border-radius: .5rem;
  width: 16.1rem;
  min-height: 5rem;
  font-size: 2rem;
  color: #E06733;
  margin-top: 4.5rem;
  margin-right: -1.6rem;
}

@media (max-width: 767px) {
  .prices__button {
    width: 12.1rem;
    height: 3.5rem;
    font-size: 1.5rem;
  }
}

.contacts {
  background-color: #EDF2EC;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #D6E7D2;
  width: 39rem;
  height: 4rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10rem;
  border: none;
  padding: 5px 35px 5px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  color: #717171;
}

@media (max-width: 668px) {
  .contact__city {
    margin: 0 auto;
  }
}

.choise__button {
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.about__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47.9rem;
  margin-top: 9.8rem;
  margin-bottom: 10.5rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .about__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
    height: 78.3rem;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .about__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.about__main_block {
  margin-right: 15.1rem;
  margin-left: -6px;
  padding-left: 1rem;
  margin-top: -2rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .about__main_block {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .about__main_block {
    margin: 0;
    width: 100%;
  }
}

.about__main_img {
  height: 100%;
  max-width: 46.4rem;
  margin-top: -3rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .about__main_img {
    max-width: 25rem;
    height: 25.8rem;
    padding-top: 4rem;
  }
}

@media (max-width: 767px) {
  .about__main_img {
    width: auto;
    height: 14.7rem;
  }
}

.about__main_header {
  font-family: "Inika", serif;
  font-size: 4rem;
  color: #499A18;
  font-weight: 400;
  width: 50rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .about__main_header {
    max-width: 42.3rem;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4rem;
  }
}

@media (max-width: 767px) {
  .about__main_header {
    font-size: 2.5rem;
    line-height: 3.3rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.about__main_header span {
  color: #E06733;
}

.about__main_paragraf {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 4rem;
}

@media (max-width: 767px) {
  .about__main_paragraf {
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 33rem;
  }
}

.cards__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 12.9rem;
  grid-row-gap: 5.6rem;
  padding-top: 8.7rem;
  padding-bottom: 12.1rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .cards__wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10.6rem;
    grid-row-gap: 3.8rem;
    padding-top: 4rem;
    padding-bottom: 7rem;
  }
}

@media (max-width: 767px) {
  .cards__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-top: 4rem;
    padding-bottom: 2.7rem;
  }
}

.card {
  width: 33rem;
  height: 45rem;
  margin-left: -10px;
  cursor: pointer;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .card {
    width: 28rem;
    height: 40rem;
  }
}

@media (max-width: 767px) {
  .card {
    width: 28rem;
    margin: 0 auto;
  }
}

.card__img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

@media (max-width: 767px) {
  .card__img {
    height: 35rem;
    width: 28rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.card__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -2px;
  border: #E3E1D5 1px solid;
  border-radius: 0px 0px 2rem 2rem;
}

.caption__header {
  font-family: "Inter", sans-serif;
  color: #E06733;
  font-size: 2rem;
  margin-top: .6rem;
  margin-right: -4px;
  margin-bottom: 1rem;
  font-weight: 700;
}

.caption__paragraf {
  font-size: 1.6rem;
  margin-bottom: 3.6rem;
  font-weight: 400;
}

@media (max-width: 1439px) {
  .caption__paragraf {
    margin-bottom: 1.8rem;
    width: 20.1rem;
    text-align: center;
  }
}

.prices__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .prices__wrapper {
    padding-bottom: 8.8rem;
  }
}

@media (max-width: 767px) {
  .prices__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 23rem;
    margin: 0 auto;
    padding-bottom: 4rem;
  }
}

.prices__header {
  font-size: 4rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  max-width: 45.2rem;
  margin-top: 3.9rem;
  margin-left: 3px;
  margin-bottom: 6rem;
}

@media (max-width: 767px) {
  .prices__header {
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 4rem;
    margin-top: 2.5rem;
  }
}

.prices__header span {
  color: #499A18;
}

.prices__header_align {
  text-align: right;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .prices__header_align {
    margin-top: 8.7rem;
  }
}

.prices__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-height: 40.5rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .prices__second {
    height: 40.8rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .prices__second .prices__button {
    margin-top: 2.2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

@media (max-width: 767px) {
  .prices__second {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.prices__second .prices__header {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .prices__second .prices__header {
    font-size: 2rem;
    line-height: 3.5rem;
    margin-bottom: 1.4rem;
  }
}

.prices__choises {
  border: 1px solid #E3E1D5;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  padding: 3.4rem 4.1rem 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .prices__choises {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .prices__choises {
    padding: 2.8rem 2.1rem 1.5rem 2.1rem;
  }
}

.choise {
  background-color: #EDF2EC;
  height: 1.8rem;
  width: 17rem;
  border-radius: 2rem;
  padding: 1.6rem 4rem;
  margin-bottom: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

@media (max-width: 767px) {
  .choise {
    width: 11rem;
    padding-left: 3rem;
    margin-bottom: 1.39rem;
  }
}

.choise__button {
  border: none;
}

.choise__link {
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  .choise__link {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.close {
  display: none;
}

@-webkit-keyframes closeAnimation {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

@keyframes closeAnimation {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.choise__open {
  -webkit-animation: growDown .6s ease-in-out forwards;
          animation: growDown .6s ease-in-out forwards;
  width: 25rem;
  background-color: #D6E7D2;
  border-radius: 2rem;
  padding-top: 1.6rem;
  padding-bottom: 1.2rem;
  margin-bottom: 1rem;
  margin-top: -8rem;
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.open__line {
  content: "";
  display: block;
  width: 16.4rem;
  background-color: #AEA1A1;
  height: 0.5px;
}

.open__paragraf {
  margin-top: 6px;
}

.choise__price {
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Inter", sans-serif;
  margin-top: .6rem;
}

.choise__price span {
  color: #E06733;
  font-weight: 700;
  font-size: 1.6rem;
}

.choise__button_order {
  height: 2.5rem;
  width: 8.6rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  color: #717171;
  border: none;
  border-radius: 1rem;
  background-color: white;
  margin-top: .6rem;
}

.choise__button_order:hover {
  color: white;
  background-color: #717171;
}

.button__mod {
  background: url(../icons/accordion_btn.svg) center/cover no-repeat;
  height: 16px;
  width: 16px;
  -webkit-animation: all .6s ease-in-out forwards;
          animation: all .6s ease-in-out forwards;
}

.button__mod:hover {
  background: url(../icons/drop_btn.svg) center/cover no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition-property: all;
  transition-property: all;
}

.button__mod:active {
  background: url(../icons/drop_btn.svg) center/cover no-repeat;
}

.button__open {
  background: url(../icons/accordion_btn.svg) center/cover no-repeat;
  height: 16px;
  width: 16px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin: auto 0;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  -webkit-animation: all .6s ease-in-out forwards;
          animation: all .6s ease-in-out forwards;
}

.button__open:hover {
  background: url(../icons/drop_btn.svg) center/cover no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition-property: all;
  transition-property: all;
}

.button__open:active {
  background: url(../icons/drop_btn.svg) center/cover no-repeat;
}

@-webkit-keyframes arrowDown {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes arrowDown {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.choise__paragraf {
  color: #717171;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  font-family: "Inter", sans-serif;
}

.open__container {
  max-width: 16rem;
  margin: 0 auto;
}

.open__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
}

.button__noBg {
  background-color: white;
}

.prices {
  padding-bottom: 13rem;
}

.prices__img {
  width: 31.2rem;
  margin-right: -3rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .prices__img {
    margin-top: 3.4rem;
  }
}

@media (max-width: 767px) {
  .prices__img {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .prices__second .prices__header {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .prices__fist .prices__header {
    font-size: 3.5rem;
  }
  .prices__second {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 5rem;
  }
  .prices__img {
    width: 15.2rem;
  }
  .prices__header {
    margin-left: 0;
  }
}

.contacts__header {
  font-weight: 700;
  color: #499A18;
  font-size: 4rem;
  max-width: 30.6rem;
  line-height: 5.2rem;
  font-family: "Inika", serif;
  margin-left: 5rem;
  margin-top: 1.8rem;
}

@media (max-width: 767px) {
  .contacts__header {
    font-size: 2.5rem;
    line-height: 3.3rem;
    margin-right: 0;
    width: 19rem;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__header {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .service__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25rem;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .service__img img {
    height: 25rem;
  }
}

.service__img img {
  height: 50rem;
}

.contact__form :hover {
  -webkit-animation: all 0.3s ease-in;
          animation: all 0.3s ease-in;
}

.burger_menu {
  display: none;
}

@media (max-width: 767px) {
  .burger_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 2.4rem;
  }
}

.burger_element {
  width: 4rem;
  height: 0;
  border: 1px solid #717171;
}

.footer {
  height: 13.2rem;
  padding: 0 auto;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 16.3rem;
  margin-bottom: 1rem;
  margin-left: -2rem;
}

.footer .container {
  height: 100%;
}

.footer .container .footer__wrapper {
  height: 100%;
}

.footer__paragraf {
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.footer__paragraf a {
  color: black;
}

.footer__paragraf a:hover {
  -webkit-animation: all 0.3s ease-in;
          animation: all 0.3s ease-in;
  color: #E06733;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 17.6rem;
}

.footer__social {
  margin-bottom: 1rem;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
li,
button {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

a,
li,
button,
select,
option:hover {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

ul {
  list-style-type: none;
  margin: 0;
}

.container {
  max-width: 1231px;
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 668px;
    width: 90%;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 330px;
  }
}

button {
  font-family: "Inter", sans-serif;
}

.header,
section {
  width: 100%;
}

.paragraf {
  color: #717171;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.button__animation:hover {
  color: white;
  background-color: #E06733;
}

.service_effect {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.active {
  color: white;
  background-color: #E06733;
}
/*# sourceMappingURL=styles.css.map */